/* ==========================================
   WEBSITE REVEAL
========================================== */

.website {
    position: relative;
    min-height: 100vh;
    z-index: 1;

    transition: opacity 0.9s cubic-bezier(.22, 1, .36, 1), visibility 0.9s ease;

    will-change: opacity;
}


/* Hidden while Intro is playing */

.website-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    -webkit-user-select: none;
    user-select: none;

    overflow: hidden;
    height: 100vh;
}

section { scroll-margin-top: 100px; }

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after { scroll-behavior: auto !important; transition-duration: .01ms !important; animation-duration: .01ms !important; }
}


/* Visible after Intro */

.website-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    -webkit-user-select: auto;
    user-select: auto;
}

